EPSFramework.Templates/TemplateProject/EPapersoftWindowsService.IoC/ConfigurationHandler/IOC.Section.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ioCSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DIComponents">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="component">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dependencies" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="mapping">
														<xs:complexType>
															<xs:attribute name="interface" type="xs:string" use="required" />
															<xs:attribute name="implementedBy" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="assemblyName" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>